<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Weather Charts <small>test</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  {{#link-to 'index'}}<a href="#">Dashboard</a>{{/link-to}}
      </li>
      <li class="active">
        <i class="fa fa-bar-chart-o"></i> Weather Charts
      </li>
    </ol>
  </div>
</div>
<div class="row">

</div>
</div>
