<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Todo <small>test</small>
    </h1>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard <li class="active"><i class="fa fa-edit"></i> Todo</li>
      </li>
    </ol>
  </div>


</div>
<div class="row">
  <div id="myfirstchart" style="height: 250px;"></div>
</div>
